<div [style.background-image]="'url(assets/images/wall.jpg)'">
  <br />
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a
        class="nav-link"
        aria-current="page"
        [routerLink]="'/star-wars/characters'"
        [routerLinkActive]="'active'"
        >{{ starWars.tabs.characters }}</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="'/star-wars/create-character'"
        [routerLinkActive]="'active'"
        >{{ starWars.tabs.createCharacter }}</a
      >
    </li>
  </ul>
  <br />
  <router-outlet></router-outlet>
</div>
